<div class="modal modal-update hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form id="admin-userList-form" class="form-horizontal save-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"> <%=nls.panel.location%> </h3>
        </div>
        <div class="modal-body">

            <% if (entity.id) { %>
                <input type="hidden" name="id" value="<%=entity.id%>">
            <% } %>

            <div class="control-group">
                <label class="control-label" for="url"> <%=nls.modal.loyalty.url%> </label>
                <div class="controls">
                    <input id="url" type="text" required name="url" value="<%=entity.url || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="name"> <%=nls.modal.name%> </label>
                <div class="controls">
                    <input id="name" type="text" required name="name" value="<%=entity.name || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="description" > <%=nls.modal.description%> </label>
                <div class="controls">
                    <input id ="description" type="text"  name="description" value="<%=entity.description || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="thumbnail" > <%=nls.modal.paywayTemplate.thumbnail%> </label>
                <div class="controls">
                    <input id="thumbnail" type="text" required name="thumbnail" value="<%=entity.thumbnail || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> <%=nls.modal.loyalty.categorys%> </label>
                <div class="controls">
                
                    <label class="radio" for="prepaid">
                        <input type="radio" id="storeCard" name="category" value="storeCard" <% if( entity.category == "storeCard" ) { %> checked <% } %> > <%=nls.modal.loyalty.category.storeCard%> 
                    </label>

                    <label class="radio" for="rentalCard">
                        <input id="rentalCard" type="radio" name="category" value="rentalCard" <% if( entity.category == "rentalCard" ) { %> checked <% } %> >  <%=nls.modal.loyalty.category.rentalCard%> 
                    </label>

                    <label class="radio" for="others">
                        <input id="others" type="radio" name="category" value="others" <% if( entity.category == "others" ) { %> checked <% } %> >  <%=nls.modal.loyalty.category.others%>             
                    </label>

                </div>
            </div>

        <div class="modal-footer">

            <button class="btn" data-dismiss="modal" aria-hidden="true"> <%=nls.cancel%> </button>
            <button class="btn btn-primary save"> <%=nls.save%> </button>
        </div>
    </form>
</div>






