<div style='text-align: center;'>
    <h3><%=entity%>s</h3>
    <br />
</div>
<div style='text-align: center;'>
    <button class="btn btn-small inline pag pag-left" pag=prev type="button"><i class="icon-arrow-left"></i></button>
    <span class="pageCur"><%=page%></span> of
    <span class="pageCount"><%=pageCount%></span>
    <button class="btn btn-small inline pag pag-right" pag=next type="button"><i class="icon-arrow-right"></i></button>
    <button class="btn btn-small btn-danger pull-right deleteAll" type="button"><i class="icon-remove"></i> Delete all</button>
</div>
<br>
<table class="table productList">
    <thead>
        <!--<th>id</th>-->
        <th>locator</th>
        <th>url</th>
        <th>thumbnail</th>
        <th>totalAmount</th>
        <th>currency</th>
        <th>signature</th>
        <th>redirectURL</th>
        <th>name</th>
        <th>description</th>
        <th>shortDesc</th>
        <th>status</th>
        <th>category</th>
        <th>acceptedPaywayIds</th>
        <th>acceptedLoyaltyIds</th>

        <% if (role == 'issuer') { %>
            <th>
                <button class="btn btn-mini btn-warning showModal" type="button"><i class="icon-plus-sign"></i> Create</button>
            </th>
        <% } else if (role == 'admin') {%>
            <th> </th>
        <% } %>
    </thead>
    <tbody>
        <% for (var e in entities) { %>
            <!--<tr style="cursor: pointer" class="open-row" _url="#product/<%=entities[e].id%>" _id=<%=entities[e].id || ''%>>-->
                <td style="cursor: pointer" class="open-row" _url="#product/<%=entities[e].id%>" _id=<%=entities[e].id || ''%>><%=entities[e].name || ''%></td>
                <td style="cursor: pointer" class="open-row" _url="#product/<%=entities[e].id%>" _id=<%=entities[e].id || ''%>><%=entities[e].brand || ''%></td>
                <td style="cursor: pointer" class="open-row" _url="#product/<%=entities[e].id%>" _id=<%=entities[e].id || ''%>><%=entities[e].category || ''%></td>
                <td style="cursor: pointer" class="open-row" _url="#product/<%=entities[e].id%>" _id=<%=entities[e].id || ''%>><%=entities[e].url || ''%></td>
                <td style="cursor: pointer" class="open-row" _url="#product/<%=entities[e].id%>" _id=<%=entities[e].id || ''%>><%=entities[e].description || ''%></td>
                <td style="cursor: pointer" class="open-row" _url="#product/<%=entities[e].id%>" _id=<%=entities[e].id || ''%>><%=utils.date(entities[e].lm)%></td>
                <% if (role == 'issuer' || role == 'admin') { %>
                    <td>
                        <% if (role == 'issuer') { %>
                            <button _id=<%=entities[e].id%> class="btn btn-mini btn-success publish-modal-show" type="button" ><i class="icon-print"></i> Publish</button> 
                        <% } %>
                        <button _id=<%=entities[e].id%> class="btn btn-mini showModal" type="button" ><i class="icon-pencil"></i></button> 
                        <button _id=<%=entities[e].id%> class="btn btn-mini delete" type="button"><i class="icon-remove"></i></button>
                    </td>
                <% } %>
            </tr>
        <% } %>
    </tbody>
    <tfoot>
    </tfoot>
</table>
<div class="el-modal"></div>
<div class="el-publish-modal"></div>


