<div class="modal modal-update hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form id="admin-userList-form" class="form-horizontal save-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Location</h3>
        </div>
        <div class="modal-body">

            <% if (entity.id) { %>
                <input type="hidden" name="id" value="<%=entity.id%>">
            <% } %>

            <div class="control-group">
                <label class="control-label" for="name">locator</label>
                <div class="controls">
                    <input id="locator" type="text"  name="locator" value="<%=entity.locator || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="url" >url</label>
                <div class="controls">
                    <input id ="url" type="text" required name="url" value="<%=entity.url || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="thumbnail" >thumbnail</label>
                <div class="controls">
                    <input id="thumbnail" type="text" required name="thumbnail" value="<%=entity.thumbnail || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="totalAmount">totalAmount</label>
                <div class="controls">
                    <input id="totalAmount" type="text" name="totalAmount" value="<%=entity.totalAmount || ''%>">
                </div>
            </div>


            <div class="control-group">
                <label class="control-label">currency</label>
                <div class="controls">
                    <label class="radio" for="euro">
                        <input type="radio" id="euro" name="type" value="euro" <% if( entity.currency == "euro" ) { %> checked <% } %> > euro
                    </label>

                    <label class="radio" for="dollar">
                        <input id="giftCard" type="radio" name="dollar" value="dollar" <% if( entity.currency == "dollar" ) { %> checked <% } %> > dollar
                    </label>

                    <label class="radio" for="pound">
                        <input id="creditCard" type="radio" name="pound" value="pound" <% if( entity.currency == "pound" ) { %> checked <% } %> > pound
                    </label>
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="signature">signature</label>
                <div class="controls">
                    <input id="signature" type="text" name="signature" value="<%=entity.signature || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="redirectURL">redirectURL</label>
                <div class="controls">
                    <input id="redirectURL" type="text" name="redirectURL" value="<%=entity.redirectURL || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="callBackURL">callBackURL</label>
                <div class="controls">
                    <input id="callBackURL" type="text" name="callBackURL" value="<%=entity.callBackURL || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="name">name</label>
                <div class="controls">
                    <input id="name" type="text" name="name" value="<%=entity.name || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="description">description</label>
                <div class="controls">
                    <input id="description" type="text" name="description" value="<%=entity.description || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="shortDesc">shortDesc</label>
                <div class="controls">
                    <input id="shortDesc" type="text" name="shortDesc" value="<%=entity.shortDesc || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="status">status</label>
                <div class="controls">
                    <input id="status" type="text" name="status" value="<%=entity.status || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="category">category</label>
                <div class="controls">
                    <input id="category" type="text" name="category" value="<%=entity.category || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="acceptedPaywayIds">acceptedPaywayIds</label>
                <div class="controls">
                    <input id="acceptedPaywayIds" type="text" name="acceptedPaywayIds" value="<%=entity.acceptedPaywayIds || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="acceptedLoyaltyIds">acceptedLoyaltyIds</label>
                <div class="controls">
                    <input id="acceptedLoyaltyIds" type="text" name="acceptedLoyaltyIds" value="<%=entity.acceptedLoyaltyIds || ''%>">
                </div>
            </div>
            
        </div>
        <div class="modal-footer">

            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn btn-primary save">Save</button>
        </div>
    </form>
</div>






