<div class="modal modal-update hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form id="admin-productList-form" class="form-horizontal save-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Product</h3>
        </div>
        <div class="modal-body">

            <% if (entity.id) { %>
                <input type="hidden" name="id" value="<%=entity.id%>">
            <% } %>

            <div class="control-group">
                <label class="control-label"> <%=nls.modal.name%> </label>
                <div class="controls">
                    <input type="text" required name="name" value="<%=entity.name || ''%>">
                </div>
            </div>




            <div class="control-group">
                <label class="control-label"> <%=nls.modal.product.brand%> </label>
                <div class="controls">
                    <input type="text" name="brand" value="<%=entity.brand || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> <%=nls.modal.offer.ean%> </label>
                <div class="controls">
                    <input type="text" required name="ean" value="<%=entity.ean || ''%>">
                </div>
            </div>


            <div class="control-group">
                <label class="control-label"> <%=nls.modal.product.url%> </label>
                <div class="controls">
                    <input type="text" name="url" value="<%=entity.url || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> <%=nls.modal.description%> </label>
                <div class="controls">
                    <input type="text" name="description" value="<%=entity.description || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> <%=nls.modal.product.category%> </label>
                <div class="controls">
                    <label class="radio inline">
                        <input type="radio" name="category" value="electronics" <% if( entity.category == "electronics" ) { %> checked <% } %> >  <%=nls.modal.product.electronics%> 
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="category" value="restaurants" <% if( entity.category == "restaurants" ) { %> checked <% } %> >  <%=nls.modal.product.restaurants%>
                    </label>
                    <label class="radio inline">
                        <input type="radio"  name="category" value="other" <% if( entity.category == "other" || !entity.category) { %> checked <% } %> >  <%=nls.modal.product.other%> 
                    </label>
                </div>
            </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"> <%=nls.cancel%> </button>
            <button class="btn btn-primary save"> <%=nls.save%> </button>
        </div>
    </form>
</div>



