<div class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"> <%=nls.channelContent.content%> </h3>
    </div>
    <div class="modal-body">
        <form id="admin-productList-form" class="form-horizontal">

            <% if (entity.id) { %>
                <input type="hidden" name="id" value="<%=entity.id%>">
            <% } %>

            <div class="control-group">
                <label class="control-label"> <%=nls.modal.name%> </label>
                <div class="controls">
                    <input type="text" name="name" value="<%=entity.name || ''%>">
                </div>
            </div>




            <div class="control-group">
                <label class="control-label"> <%=nls.moda.product%> </label>
                <div class="controls">
                    <input type="text" name="brand" value="<%=entity.brand || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> <%=nls.modal.product.url%> </label>
                <div class="controls">
                    <input type="text" name="url" value="<%=entity.url || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> <%=nls.modal.description%> </label>
                <div class="controls">
                    <input type="text" name="description" value="<%=entity.description || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> <%=nls.modal.product.category%> </label>
                <div class="controls">
                    <label class="radio inline">
                        <input type="radio" name="category" value="electronics" <% if( entity.category == "electronics" ) { %> checked <% } %> >  <%=nls.modal.product.electronics%> 
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="category" value="restaurants" <% if( entity.category == "restaurants" ) { %> checked <% } %> >  <%=nls.modal.product.restaurants%> 
                    </label>
                    <label class="radio inline">
                        <input type="radio"  name="category" value="other" checked <% if( entity.category == "other" ) { %> checked <% } %> >  <%=nls.modal.other%> 
                    </label>
                </div>
            </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true"> <%=nls.cansel%> </button>
        <button class="btn btn-primary save"> <%=nls.modal.save%> </button>
    </div>
</div>



