<legend> <%=nls.modal.channelContent.product%> </legend>
<div class="span4 well">
    <div class="row">
        <div class="span1"> <%=nls.modal.name%> : </div>
        <div class="span3"><%=product.name || ''%></div>
    </div>
    <div class="row">
        <div class="span1"> <%=nls.modal.product.brand%> : </div>
        <div class="span3"><%=product.brand || ''%></div>
    </div>
    <div class="row">
        <div class="span1"> <%=nls.modal.product.category%> : </div>
        <div class="span3"><%=product.category || ''%></div>
    </div>
    <div class="row">
        <div class="span1"> <%=nls.modal.description%>: </div>
        <div class="span3"><%=product.description || ''%></div>
    </div>
    <div class="row">
        <div class="span1"> <%=nls.modal.product.url%> : </div>
        <div class="span3"><%=product.url || ''%></div>
    </div>
</div>
