<legend> <%=nls.modal.channelContent.offer%></legend>

<div class="row">
    <div class="span2">
        <h4>Unicodes generated</h4>        
        <input type="text" class="dial" id="generated">
    </div>
    <div class="span2">
        <h4>Unicodes redeemed</h4>        
        <input type="text" class="dial" id="redeemed">
    </div>

</div>

<div class="span6 well">
    

    <div class="row">
        <div class="span2"> <%=nls.modal.name%> : </div>
        <div class="span4"><%=offer.name || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.offer.ean%> : </div>
        <div class="span4"><%=offer.ean || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.channelContent.type%> : </div>
        <div class="span4"><%=offer.type || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.product.category%> : </div>
        <div class="span4"><%=offer.category || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.channelContent.conditions%> : </div>
        <div class="span4"><%=offer.conditions || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.description%> : </div>
        <div class="span4"><%=offer.description || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.shortDescription%> : </div>
        <div class="span4"><%=offer.short_description || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.offer.logoUrl%> : </div>
        <div class="span4"><%=offer.logo_url || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.product.url%> : </div>
        <div class="span4"><%=offer.url || ''%></div>
    </div>
    <div class="row">
        <div class="span2"> <%=nls.modal.offer.thumbnail%> : </div>
        <div class="span4"><%=offer.thumbnail || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.channelContent.media%> : </div>
        <div class="span4"><%=offer.media || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.offer.startDatetime%> : </div>
        <div class="span4"><%=utils.date(offer.start_datetime) || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.offer.endDatetime%> : </div>
        <div class="span4"><%=utils.date(offer.end_datetime) || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.offer.validLocation%> : </div>
        <div class="span4"><%=offer.valid_locations || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.offer.creationDatetime%> : </div>
        <div class="span4"><%=utils.date(offer.creation_datetime) %></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.channelContent.lm%> : </div>
        <div class="span4"><%=utils.date(offer.lm) || ''%></div>
    </div>

    <% if (role == 'issuer') { %>
        <button class="btn btn-primary showModal">  <%=nls.modal.offer.addRules%>  </button>
    <% } %>
    <% if (role == 'user') { %>
        <button class="btn btn-warning getUnicode"> <%=nls.modal.offer.getUnicode%> </button>
    <% } %>

</div>



<legend> <%=nls.modal.offer.rules%> </legend>
<div class="offer-rules-list">

</div>

<div class="el-modal"></div>
