<div class="span6 well">

    <div class="rule-header">
        <h3 id="myRuleLabel"> <%=nls.modal.channelContent.rule%> </h3>
    </div>


    <div class="row">
        <div class="span2"> <%=nls.modal.name%> : </div>
        <div class="span4"><%=rule.name || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.description%> : </div>
        <div class="span4"><%=rule.description || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.offer.contentFailure%> : </div>
        <div class="span4"><%=rule.content_failure || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.offer.startDatetime%> : </div>
        <div class="span4"><%=rule.start_datetime || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.offer.endDatetime%> : </div>
        <div class="span4"><%=rule.end_datetime || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.offer.counter%> : </div>
        <div class="span4"><%=rule.counter || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.offer.counterToday%> : </div>
        <div class="span4"><%=rule.counter_to_day || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.offer.counterTohour%> : </div>
        <div class="span4"><%=rule.counter_to_hour || ''%></div>
    </div>

    <div class="row">
        <div class="span2"> <%=nls.modal.offer.creationDatetime%> : </div>
        <div class="span4"><%=utils.date(offer.lm) || ''%></div>
    </div>

    <% if (role == "issuer" || role == "admin") { %>
        <div class="rule-footer">
            <button class="btn btn-primary showModal" _id=<%=rule.id%>> <%=nls.modal.offer.changeRule%> </button>
            <button _id=<%=rule.id%> class="btn btn-small btn-danger pull-right delete" type="button"><i class="icon-remove"></i>  <%=nls.delete%>  </button>
        </div>
    <% } %>
</div>


