<div class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><%=nls.modal.channelContent.head%></h3>
    </div>
    <div class="modal-body">
        <form id="admin-issuerList-form" class="form-horizontal">

            <% if (channelContent.id) { %>
                <input type="hidden" name="id" value="<%=channelContent.id%>">
            <% } %>

            <div class="control-group">
                <label class="control-label"><%=nls.modal.channelContent.content%></label>
                <div class="controls">
                    <textarea rows="3" name="content"><%=channelContent.content || ''%></textarea>
                    <div class="alert alert-error error-message hide margin4-v"></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> <%=nls.modal.product.public%> </label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="public" value=true <% if (channelContent.public) { %> checked <% } %> >  <%=nls.modal.product.yes%> 
                    </label>
                    <label class="radio">
                        <input type="radio" name="public" value=false <% if (!channelContent.public) { %> checked <% } %> >  <%=nls.modal.product.no%> 
                    </label>
                </div>
            </div>
            
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true"><%=nls.cancel%></button>
        <button class="btn btn-primary save"> <%nls.save%> </button>
    </div>
</div>



