#logintabs{
    position:relative;
    top:50px;
    width:700px;
    left:100px;
}

.loginrht{
    list-style-type: none;
    position:absolute;
    width:400px;
    left:150px;
    top:0px
}

/*-----------------content---------------------*/
li h2{
    list-style-type: none;
    width:100%;
    font-size:40px; 
    font-weight:normal;
    text-align: center;
    margin-bottom:40px
}

.authChose{
    width:400px;
    height:400px;
    position:absolute;
    /*display:none*/
}

.loginlft-left,.loginlft-right :hover {
    cursor: pointer;
}

.authChoseActive{
    display:block;
    width:400px;
    height:400px;
    position:absolute;
}

.butGround{
    position:absolute;
    height:100px;
    width:347px;
    background: url(../font/auth/third-bg.png);
    margin: 15px 0 0 28px;
}

.butGround > p{
    color:white;
    font-size:25px;
    height:55px;
    line-height:110%;
}

.fldtxt{
    margin: 0 10% 0 10%;
    top:120px;
    position:absolute;
    font-size:15px;
}

.normalContainer > .forgotPass{
    position:relative;
    top: 50px;
    left: 50px;
    display:none;
}

#passForgot{
    position:relative;
    top:-4px;
}
/*--------------hide---------------*/

.authChose > H2{
    display:none;
}
.authChose > .normal > .normalContainer{
    display:none;
}

/*.errfld{*/
    /*display:none;*/
    /*position:absolute;*/
    /*top: 180px;*/
    /*left: 75px;*/
    /*color:red;*/
    /*font-size:16px;*/
/*}*/

/*--------------don't forget to del-------------*/

#moob > .normal{
    position:absolute;
    top:80px;
    width:400px;
    height:315px;
    -moz-box-shadow:0 0 10px #ccc;
    -webkit-box-shadow:0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

li > .normal{
    position:absolute;
    top:80px;
    width:400px;
    height:315px;
    -moz-border-radius: 10px;
    -webkit-border-top-left-radius: 10px; 
    -webkit-border-top-right-radius: 10px; 
    -webkit-border-bottom-right-radius: 10px; 
    -webkit-border-bottom-left-radius: 10px;
}


.normalContainer{
    margin-bottom: 0;
    margin-top: 0;
    width:400px;
    height:238px
}

.normalgogapp{
    position: relative;
    top:60px;
    left:30px
}

.btmarea{
    position:absolute;
    bottom:0px;
    margin-bottom:0px;
    padding-bottom:0px;
    width: 400px;
    height: 77px;
    background: url(../font/auth/foot-bg.jpg) repeat-x; 
}

.btmarea > .rht{
    position: relative;
    top:30px;
    right:30px;
}

.btmarea > .lft{
    position: relative;
    top:30px;
    left:30px
}

#fld{
    position:relative;
    top:50px;
}

/*--------------tabs------------------*/
.loginlft-left{
    list-style-type: none;
    list-style-type: none;
    position:absolute;
    height:230px;
    width:115px;
    top:90px;
    left:35px;

}

.loginlft-right{
    list-style-type: none;
    position:absolute;
    height:230px;
    width:115px;
    top:90px;
    left:550px;
}

/*ul > li > .chooseBut{*/
    /*margin: 20px 0 20px 0;*/
    /*border: 1px solid #cdc9c9;*/
   /*-webkit-border-top-left-radius: 5px; */
   /*-webkit-border-top-right-radius: 5px; */
   /*-webkit-border-bottom-right-radius: 5px; */
   /*-webkit-border-bottom-left-radius: 5px;*/
/*}*/

.loginlft-left > li{
    margin:10px 0 10px 0;
    height:61px;
}



.activeLoginlft-left{
    margin:10px 0 10px 0;
    height:61px;
    -moz-border-radius: 5px;
    -webkit-border-top-left-radius: 5px; 
    -webkit-border-bottom-left-radius: 5px;
    box-shadow: -5px 0 10px #ccc;
    -moz-box-shadow: -5px 0 10px #ccc;
    -webkit-box-shadow: -5px 0 10px #ccc;
}

.loginlft-right > li{
    margin:10px 0 10px 0;
    height:61px;
    backgroud-position: 50% 100%;

}

.activeLoginlft-right{
    -moz-border-radius: 5px;
    -webkit-border-top-right-radius: 5px; 
    -webkit-border-bottom-right-radius: 5px; 
    box-shadow: 5px 0 10px #ccc;
    -moz-box-shadow: 5px 0 10px #ccc;
    -webkit-box-shadow: 5px 0 10px #ccc;
    
}

/*------------button-------------------*/

#moobBut {
    position: relative;
    top:-2px;
    background: url(../font/auth/butt-moob.png) no-repeat;
    height:60px;
    width:130px;
    
}


#moobMeBut {
    top:-2px;
    position: relative;
    background: url(../font/auth/butt-moobMe.png) no-repeat;
    height:60px;
    width:130px;
}

#googleServBut {
    top:-2px;
    position: relative;
    background: url(../font/auth/butt-googleServ.png) no-repeat;
    height:60px;
    width:130px;
}

#linkedBut {
    top:-2px;
    position: relative;
    left:-15px;
    background: url(../font/auth/butt-linkIn.png) no-repeat;
    height:60px;
    width:130px;
}

#twitBut {
    top:-2px;
    position: relative;
    left:-15px;
    background: url(../font/auth/butt-twitter.png) no-repeat;
    height:60px;
    width:130px;
}

#facebookBut {
    top:-2px;
    position: relative;
    left:-15px;
    background: url(../font/auth/butt-facebook.png) no-repeat;
    height:60px;
    width:130px;
}

.toHide-lft{
    background:url(../font/auth/separator.png) no-repeat;
    background-position: 0% 100%;
}

.toHide-rht{
    background:url(../font/auth/separator-right.png) no-repeat;
    background-position: 0% 100%;
}

/*-------------form_input-------------*/

.fld{
    padding: 15px 33px 10px 
} 

.loginrht li .fld label {
    width: 100%;
    height: auto; 
    float: left; 
    margin-bottom: 5px; 
    color:#8C8C8C; 
    font-size:15px; 
}

input[type="text"] {  
    font-size:14px;  
    font-family:Arial
}

#username{
    height:29px;
    width:319px;
    background: url(../font/auth/username-field.png) no-repeat;      
}

.fld > #password{
    height:29px;
    width:319px;
    background: url(../font/auth/password-field.png) no-repeat;
    margin-bottom:0px
}

#domain_name{
    height:29px;
    width:319px;
    background: url(../font/auth/username-field.png) no-repeat;
    margin-bottom:0px
}

#gAppBtn{
    position:relative;
    top:60px;
}

.fld > .lft{
    padding-top: 5px;
    font-size: 16px
}

.loginrht li .lft {
    float: left;
    width: auto;
}
.loginrht li .rht {
    float: right;
    width: auto;
}



#moob{
    z-index:6;
}

