<ul class="nav nav-tabs">
    <!--<li><a href="#auth/main"> <%=nls.main%> </a></li>-->
    <!--<li><a href="#auth/join"> <%=nls.join%> </a></li>-->
    <!--<li><a href="#auth/oauth"> <%=nls.oauth%> </a></li>-->
    <li><a href="#auth/issuer"> <%=nls.panel.issuer%> </a></li>
    <li><a href="#auth/awarder"> <%=nls.panel.awarder%> </a></li>
    <li><a href="#auth/applications"> <%=nls.panel.applications%> </a></li>
    <li><a href="#auth/profile"> <%=nls.panel.profile%> </a></li>
</ul>

<div id="auth-body"> </div>
