    <div class="wrapinn">

        <form id="fm1" class="fm-v clearfix" >

            <div class="normal" id="logintabs">
                
                <ul class="loginlft-left">
                    <li id="moobLi" class="toHide-lft"><div class="chooseBut" id="moobBut"> </div></li>
                    <li id="moobMeLi" class="toHide-lft"><div class="chooseBut" id="moobMeBut"> </div></li>
                    <li id="googleServLi" class="toHide-lft"><div class="chooseBut" id="googleServBut"> </div></li>
                </ul>
                <ul class="loginlft-right">
                    <li id="linkedLi" class="toHide-rht"><div class="chooseBut" id="linkedBut"> </div></li>
                    <li id="twitLi" class="toHide-rht"><div class="chooseBut" id="twitBut"> </div></li>
                    <li id="facebookLi" class="toHide-rht"><div class="chooseBut" id="facebookBut"> </div></li>
                </ul>
                <ul class="loginrht" >

                    
                    <!-----------------moob---------------------->
                    <li id = "moob" class = "authChose">
                        <h2><%=nls.serve.signIn%></h2>
                        <div class="normal">
                            <div class = "normalContainer">
                            <!--<div class="log_error"></div>-->
                            <!--<div class = "errfld" id = "errfld">-->
                                <!--<p class = "errtext">Username or password is incorrect!</p>-->
                            <!--</div>-->
                            <div class="fld">
                                
                                <label><%=nls.email%></label>
                                <input id="username" name="username"  class="required username" tabindex="1" accesskey="n" type="text" value="" size="25" autocomplete="false"/>
                                
                            </div>
                            <div class="fld">
                                <label><%=nls.passwd%></label>
                                
                                <input id="password" name="password" class="requiredPassword" tabindex="2" accesskey="p" type="password" value="" size="25" autocomplete="off"/>
                            </div>
                            <div class="fld">
                                <div class="lft"><input type="checkbox" name="rememberMe" id="rememberMe" value="true" tabindex="3" /> <%=nls.rememberMe%> </div>
                                <div class="rht">
                                    <input class="btn btn-primary" id="signIn" name="submit" accesskey="l" value="Sign In" tabindex="4" type="submit" />
                                </div>
                            </div>
                          
                            <!-------------forgot pass------------------->
                            <div id = "forgoPass" class = "forgotPass">
                                <h1> <i class="icon-question-sign"></i> <%=nls.resetPass%> </h1><br>
                                <label> <%=nls.enterEmLog%> </label>
                                    <div id = 'controll'>
                                        <input id = "forgotPassword" class = "input-large" type = "text"></input>
                                        <button id="passForgot" type="submit" class="btn btn-primary"><i class="icon-signin"> </i><%=nls.submit%></button>
                                    </div>
                            </div>
                            <!-------------------------------->

                            </div>
                            <div class="btmarea">
                                <div class="lft" id="forgotPass"><a href="#"><%=nls.forgotPass%></a></div>
                                <div class="rht"><a href="#auth/join" title="Sign up for new company"><span class="un"> <%=nls.join%> </span></a></div>
                            </div>
                        </div>
                    </li>
                <!-----------------moob me---------------------->

                    <li id = "moobMe" class = "authChose">
                    <h2> <%=nls.serve.moobMe%> </h2>
                    <div class="normal">
                        <div class = "normalContainer">
                            <div id="qrcode" style="text-align:center;margin:10px 0px 0px;">
                            </div>
                            <label style="text-align:center;"> <%=nls.loginWithMoob%> </label>
                        </div>
                        <div class="btmarea">
                            <div class="rht"><a href="#auth/join" title="Sign up for new company"><span class="un"> <%=nls.join%> </span></a></div>
                        </div>
                    </div>
                    </li>
            
                    <!-----------------google serv---------------------->

                    <li id = "googleServ" class = "authChose">
                    <h2> <%=nls.serve.googleServe%> </h2>
                    <div class="normal">
                        <div class = "normalContainer">
                            <button id="login-google" class="butGround">
                                <p class="" title="Google Services"><%=nls.clickTosign%><%=nls.serve.googleServe%> </p>            	
                            </button>
                            <div class="fldtxt"> <%=nls.gsContent%> </div>
                        </div>                        
                        <div class="btmarea">
                            <div class="rht"><a href="#auth/join" title="Sign up for new company"><span class="un"> <%=nls.join%> </span></a></div>
                        </div>
                    </div>
                    </li>

                    <!-----------------linked in---------------------->
                    <li id = "linkedIn" class = "authChose">
                    <h2> <%=nls.serve.linkIn%> </h2>
                    <div class="normal">
                    <div class = "normalContainer">
                        <button id="login-linked-in" class="butGround">
                            <p  class="" title="Google Services"> <%=nls.clickTosign%> <%=nls.serve.linkIn%> </p>            	
                        </button>
                        <div class="fldtxt"> <%=nls.liContent%> </div>
                    </div>                            
                        <div class="btmarea">
                            <div class="rht"><a href="#auth/join" title="Sign up for new company"><span class="un"><%=nls.join%></span></a></div>
                        </div>
                    </div>
                    </li>

                    <!-----------------twitter---------------------->
                    <li id = "twitter" class = "authChose">
                    <h2> <%=nls.twitter%> </h2>
                    <div class="normal">
                        <div class = "normalContainer">
                            <button id="login-twitter" class="butGround">
                                <p  class="" title="Google Services"> <%=nls.clickTosign%> <%=nls.twitter%> </p>            	
                            </button>
                            <div class="fldtxt"> <%=nls.twitContent%> </div>
                        </div>                        
                        <div class="btmarea">
                            <div class="rht"><a href="#auth/join" title="Sign up for new company"><span class="un"> <%=nls.join%> </span></a></div>
                        </div>
                    </div>
                    </li>

                    <!-----------------facebook---------------------->

                    <li id = "facebook" class = "authChose">
                    <h2> <%=nls.serve.facebook%> </h2>
                    <div class="normal">
                        <div class = "normalContainer">
                            <button id="login-facebook" class="butGround">
                                <p  class="fldtxt" title="Google Services"> <%=nls.clickTosign%> <%=nls.serve.facebook%> </p>            	
                            </button>
                            <div class="fldtxt"> <%=nls.faceContent%> </div>
                        </div>                        
                        <div class="btmarea">
                            <div class="rht"><a href="#auth/join" title="Sign up for new company"><span class="un"> <%=nls.join%> </span></a></div>
                        </div>
                    </div>
                    </li>


                </ul>
            </div>
                             
        </form>

    </div>

