<div class="container">
    <div class="row">
        <div class="span5">

            <form id="profile-form" class="form-horizontal">
                <fieldset>

                    <legend>
                        <i class="icon-plus-sign"></i> 
                        <%=nls.profile%> 
                    </legend>

                    <div class="control-group">
                        <label class="control-label" for="join-email"><%=nls.email%></label>
                        <div class="controls">
                            <input type="email" name="email"
                                class="input-large" id="join-username" value="<%=user.email || ''%>">
                            <!--<p class="help-block"><%=nls.req%></p>-->
                            <div class="alert alert-error error-message hide margin4-v"></div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="join-name"><%=nls.username%></label>
                        <div class="controls">
                            <input type="text" name="name"
                                class="input-large" id="join-name" value="<%=user.name || ''%>">
                            <!--<p class="help-block"><%=nls.req%></p>-->
                            <div class="alert alert-error error-message hide margin4-v"></div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="join-birth"><%=nls.birth%></label>
                        <div class="controls">
                            <input type="text" name="birth"
                                class="input-large" id="join-birth" value="<%=user.birth || ''%>">
                            <!--<p class="help-block"><%=nls.req%></p>-->
                            <div class="alert alert-error error-message hide margin4-v"></div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="join-phone"><%=nls.phone%></label>
                        <div class="controls">
                            <input type="text" name="phone"
                                class="input-large" id="join-phone" value="<%=user.phone || ''%>">
                            <div class="alert alert-error error-message hide margin4-v"></div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="join-address"><%=nls.address%></label>
                        <div class="controls">
                            <input type="text" name="address"
                                class="input-large" id="join-address" value="<%=user.address || ''%>">
                            <div class="alert alert-error error-message hide margin4-v"></div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="join-zip"><%=nls.zip%></label>
                        <div class="controls">
                            <input type="text" name="zip"
                                class="input-large" id="join-zip" value="<%=user.zip || ''%>">
                            <div class="alert alert-error error-message hide margin4-v"></div>
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label" for="join-city"><%=nls.city%></label>
                        <div class="controls">
                            <input type="text" name="city"
                                class="input-large" id="join-city" value="<%=user.city || ''%>">
                            <div class="alert alert-error error-message hide margin4-v"></div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="join-country"><%=nls.country%></label>
                        <div class="controls">
                            <input type="text" name="country"
                                class="input-large" id="join-country" value="<%=user.country || ''%>">
                            <div class="alert alert-error error-message hide margin4-v"></div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"> <%=nls.auth.gen.gen%> </label>
                        <div class="controls">
                            <label class="radio inline">
                                <input type="radio" name="gen" value="m" <% if( user.gen == "m" ) { %> checked <% } %> >  <%=nls.auth.gen.male%>  
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="gen" value="f" <% if( user.gen == "f" ) { %> checked <% } %> > <%=nls.auth.gen.female%>
                            </label>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button id="profile-submit" type="submit" class="btn btn-primary"> <i class="icon-signin"> </i> <%=nls.save%> </button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>

