<!--<% if (user.roles.length == 0) { %>-->
    <!--<div id="login" class="span5">-->
        <!--<form id="login-form" class="form-horizontal">-->
            <!--<fieldset>-->
                <!--<legend>-->
                    <!--<i class="icon-ok-sign"></i> -->
                    <!--<%=nls.login%>-->
                <!--</legend>-->
                <!--<div class="control-group">-->
                    <!--<label class="control-label" for="login-username"><%=nls.login%></label>-->
                    <!--<div class="controls">-->
                        <!--<input type="text" name="login" class="input-large" id="login-username">-->
                        <!--<div class="alert alert-error error-message hide margin4-v"></div>-->

                    <!--</div>-->
                <!--</div>-->
                <!--<div class="control-group">-->
                    <!--<label class="control-label" for="login-password"><%=nls.passwd%></label>-->
                    <!--<div class="controls">-->
                        <!--<input type="password" name="password" class="input-large" id="login-password">-->
                        <!--[><p class="help-block"><%=nls.req%></p><]-->
                        <!--<div class="alert alert-error error-message hide margin4-v"></div>-->

                    <!--</div>-->

                <!--</div>-->
                <!--<div class="controls">-->
                    <!--<button id="login-submit" type="submit" class="btn btn-primary" data-loading-text="Loading..."> <i class="icon-signin"> </i> <%=nls.login%> </button>-->
                    <!--<a href="#" class="forgotPass" class="btn btn-large disabled">Forgot Password?</a>-->
                <!--</div>-->
            <!--</fieldset>-->
        <!--</form>-->
        <!--<div id="passReset" class="hide">-->
            <!--<form class="form-horizontal" id='pass-reset'>-->
                <!--<div class="control-group">-->
                    <!--<legend>-->
                        <!--<i class="icon-question-sign"></i> -->
                        <!--<%=nls.resetPass%>-->
                    <!--</legend>-->
                        <!--<label class="control-label" for="forgotPass"><%=nls.forgotPass%></label>-->
                    <!--<div class="controls">-->
                        <!--<input type="text" name="forgotPass" class="input-large" id="forgotPassword">-->
                        <!--<div class="control-group">-->
                            <!--<label class="control-label" for="forgotPass"></label>-->
                            <!--<button id="forgotPass-submit" type='submit' class="btn btn-primary" data-loading-text="Loading..."> <i class="icon-signin"></i> <%=nls.submit%> </button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>   -->
            <!--</form>    -->
        <!--</div>        -->
    <!--</div>-->
<!--<% } %>-->


<div id="join" class="span6">

    <form id="join-form" class="form-horizontal">
        <fieldset>
            <legend>
                <i class="icon-plus-sign"></i> 
                <%=nls.join%> 
            </legend>
            <div class="control-group">
                <label class="control-label" for="join-login"><%=nls.login%></label>
                <div class="controls">
                    <input type="text" required name="login" class="input-large" id="join-login" value="<%=user.login || ''%>">
                    <!--<p class="help-block"><%=nls.req%></p>-->
                    <div class="alert alert-error error-message hide margin4-v"></div>
                </div>
            </div>
            <% if (!user.login) { %>
                <div class="control-group">
                    <label class="control-label" for="join-password"><%=nls.passwd%></label>
                    <div class="controls">
                        <input type="password" required name="password"
                            class="input-large" id="join-password">
                        <!--<p class="help-block"><%=nls.req%></p>-->
                        <div class="alert alert-error error-message hide margin4-v"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="join-re-password"><%=nls.cfmp%></label>
                    <div class="controls">
                        <input type="password" required name="password2" class="input-large" id="join-password2">
                        <!--<p class="help-block"><%=nls.req%></p>-->
                        <div class="alert alert-error error-message hide margin4-v"></div>
                    </div>
                </div>
            <% } %>
            <div class="control-group">
                <label class="control-label" for="join-email"><%=nls.email%></label>
                <div class="controls">
                    <input type="email" required name="email"
                        class="input-large" id="join-username" value="<%=user.email || ''%>">
                    <!--<p class="help-block"><%=nls.req%></p>-->
                    <div class="alert alert-error error-message hide margin4-v"></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="join-name"><%=nls.username%></label>
                <div class="controls">
                    <input type="text" name="name"
                        class="input-large" id="join-name" value="<%=user.name || ''%>">
                    <!--<p class="help-block"><%=nls.req%></p>-->
                    <div class="alert alert-error error-message hide margin4-v"></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="join-birth"><%=nls.birth%></label>
                <div class="controls">
                    <input type="text" name="birth"
                        class="input-large" id="join-birth" value="<%=user.birth || ''%>">
                    <!--<p class="help-block"><%=nls.req%></p>-->
                    <div class="alert alert-error error-message hide margin4-v"></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="join-phone"><%=nls.phone%></label>
                <div class="controls">
                    <input type="text" name="phone"
                        class="input-large" id="join-phone" value="<%=user.phone || ''%>">
                    <div class="alert alert-error error-message hide margin4-v"></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="join-address"><%=nls.address%></label>
                <div class="controls">
                    <input type="text" name="address"
                        class="input-large" id="join-address" value="<%=user.address || ''%>">
                    <div class="alert alert-error error-message hide margin4-v"></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="join-zip"><%=nls.zip%></label>
                <div class="controls">
                    <input type="text" name="zip"
                        class="input-large" id="join-zip" value="<%=user.zip || ''%>">
                    <div class="alert alert-error error-message hide margin4-v"></div>
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="join-city"><%=nls.city%></label>
                <div class="controls">
                    <input type="text" name="city"
                        class="input-large" id="join-city" value="<%=user.city || ''%>">
                    <div class="alert alert-error error-message hide margin4-v"></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="join-country"><%=nls.country%></label>
                <div class="controls">
                    <input type="text" name="country"
                        class="input-large" id="join-country" value="<%=user.country || ''%>">
                    <div class="alert alert-error error-message hide margin4-v"></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><%=nls.auth.gen.gen%></label>
                <div class="controls">
                    <label class="radio inline">
                        <input type="radio" name="gen" value="m" <% if( user.gen == "m" ) { %> checked <% } %> > <%=nls.auth.gen.male%> 
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="gen" value="f" <% if( user.gen == "f" ) { %> checked <% } %> > <%=nls.auth.gen.female%>
                    </label>
                </div>
            </div>



            <% if (!user.login) { %>
                <div class="control-group">
                    <div class="controls">
                        <button id="join-submit" type="submit" class="btn btn-primary"> <i class="icon-signin"> </i> <%=nls.join%> </button>
                    </div>
                </div>
            <% } %>
        </fieldset>
    </form>
</div>
