<div style='text-align: center;'>
    <h3><%=entity%>s</h3>
    <br />
</div>
<div style='text-align: center;'>
    <button class="btn btn-small inline pag pag-left" pag=prev type="button"><i class="icon-arrow-left"></i></button>
    <span class="pageCur"><%=page%></span> of
    <span class="pageCount"><%=pageCount%></span>
    <button class="btn btn-small inline pag pag-right" pag=next type="button"><i class="icon-arrow-right"></i></button>
    <!--<button class="btn btn-small btn-danger pull-right deleteAll" type="button"><i class="icon-remove"></i> Delete all</button>-->
</div>
<br>
<table class="table userList">
    <thead>
        <!--<th>id</th>-->
        <th> <%=nls.modal.channelContent.type%> </th>
        <th> <%=nls.modal.name%> </th>
        <th> <%=nls.modal.description%> </th>
        <th> <%=nls.modal.thumbnail%> </th>
        <th> <%=nls.modal.channelContent.createData%> </th>
        <th>
            <% if ( role == 'issuer') { %>
            <button class="btn btn-mini btn-warning showModal" type="button"><i class="icon-plus-sign"></i> <%=nls.create%> </button>
            <% } %>
        </th>
    </thead>
    <tbody>
        <% console.log('Role is '+role) %>
        <% for (var e in entities) { %>
        <!--<tr style="cursor: pointer" class="open-row" _url="#location/<%=entities[e].id%>" _id=<%=entities[e].id || ''%> >               -->
                <td><%=entities[e].type || ''%></td>
                <td><%=entities[e].name || ''%></td>
                <td><%=entities[e].description || ''%></td>
                <td><%=entities[e].thumbnail || ''%></td>
                <td><%=entities[e].cd || ''%>
                <% if ( role == 'issuer') { %>
                    <td>
                        <button _id=<%=entities[e].id%> class="btn btn-mini showModal" type="button" data-toggle="modal" ><i class="icon-pencil"></i></button> 
                        <button _id=<%=entities[e].id%> class="btn btn-mini delete" type="button"><i class="icon-remove"></i></button>
                    </td>
                <% } %>
            </tr>
        <% } %>
    </tbody>
    <tfoot>
    </tfoot>
</table>
<div class="el-modal"></div>
<div class="el-subscribes-modal"></div>

