<div class="modal modal-update hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form id="admin-userList-form" class="form-horizontal save-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"> <%=nls.panel.location%> </h3>
        </div>
        <div class="modal-body">

            <% if (entity.id) { %>
                <input type="hidden" name="id" value="<%=entity.id%>">
            <% } %>
            
            <div class="control-group">
                <label class="control-label"> <%=nls.modal.channelContent.type%> </label>
                <div class="controls">
                    <label class="radio" for="prepaid">
                        <input type="radio" id="prepaid" name="type" value="prepaid" <% if( entity.type == "prepaid" ) { %> checked <% } %> > <%=nls.modal.paywayTemplate.prepaid%>
                    </label>

                    <label class="radio" for="giftCard">
                        <input id="giftCard" type="radio" name="type" value="giftCard" <% if( entity.type == "giftCard" ) { %> checked <% } %> > <%=nls.modal.paywayTemplate.giftCard%> 
                    </label>

                    <label class="radio" for="creditCard">
                        <input id="creditCard" type="radio" name="type" value="creditCard" <% if( entity.type == "creditCard" ) { %> checked <% } %> > <%=nls.modal.paywayTemplate.creditCard%> 
                    </label>

                    <label class="radio" for="debitCard">
                        <input id="debitCard" type="radio" name="type" value="debitCard" <% if( entity.type == "debitCard" ) { %> checked <% } %> > <%=nls.modal.paywayTemplate.debitCard%>
                    </label>

                    <label class="radio" for="onlinePayway">
                        <input id="onlinePayway" type="radio" name="type" value="onlinePayway" <% if( entity.type == "onlinePayway" ) { %> checked <% } %> > <%=nls.modal.paywayTemplate.onlinePayway%>
                    </label>

                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="name"> <%=nls.modal.paywayTemplate.holder%> </label>
                <div class="controls">
                    <input id="name" type="text" required name="name" value="<%=entity.name || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="chain" > <%=nls.modal.description%> </label>
                <div class="controls">
                    <input id ="description" type="text"  name="description" value="<%=entity.description || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="thumbnail" > <%=nls.modal.paywayTemplate.thumbnail%> </label>
                <div class="controls">
                    <input id="thumbnail" type="text" required name="thumbnail" value="<%=entity.thumbnail || ''%>">
                </div>
            </div>
        <div class="modal-footer">

            <button class="btn" data-dismiss="modal" aria-hidden="true"> <%=nls.cancel%> </button>
            <button class="btn btn-primary save"> <%=nls.save%> </button>
        </div>
    </form>
</div>






