<div id="panel">
</div>

<div class="container" id="body">
</div>

<div class="loading-container">

    <div class="loading-text">Wait...
        <div class="progress progress-striped active">
            <div class="bar" style="width: 50%;"></div>
        </div>
    </div>
</div>
