<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container" id="top-navigation-panel" style="text-align: center">

            <a id="msg-win" class="brand" data-animation="true" data-placement="bottom" href="#main"><%=nls.panel.brand%></a>
            <div class="nav-collapse">
                <ul class="nav">
                    <!--<li rel="about"><a id="toAbout" href="#about"> <i class="icon-info-sign"></i> <%=nls.about%> </a></li>-->
                    <!--<li rel="about"><a id="toHome" href="#home"> <i class="icon-info-sign"></i> <%=nls.home%> </a></li>-->
                    <% if (user.roles.indexOf('user') !== -1) { %>
                        <li><a href="#list/user/channel/1"> <%=nls.channels%> </a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <%=nls.panel.user%>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" style="text-align: left">
                                <li> <a href="#my/user/channel/1"> <%= nls.panel.channels %> </a> </li>
                                <li> <a href="#my/news"> <%= nls.panel.news %> </a> </li>
                                <li><a href='#list/user/payway/1'> <%= nls.panel.payway %> </a></li>
                                <li><a href='#list/user/loyalty/1'> <%= nls.panel.loyalty %> </a></li>
                           </ul>
                        </li>
                    <% } %>

                    <% if (user.roles.indexOf('issuer') !== -1) { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <%=nls.panel.issuer%>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" style="text-align: left">
                                <li><a href='#list/issuer/product/1'> <%=nls.panel.products%> </a></li>
                                <li><a href='#my/issuer/channels/1'> <%=nls.panel.channels%> </a></li>
                                <li><a href='#list/issuer/offer/1'> <%=nls.panel.offers%> </a></li>
                                <li><a href='#list/issuer/user/1'> <%=nls.panel.users%> </a></li>
                                <li><a href='#pt/issuer/paywayTemplate/1'> <%=nls.panel.paywayTempl%> </a></li>
                                <li><a href='#lt/issuer/loyaltyTemplate/1'> <%=nls.modal.loyalty.loyaltyTempl%> </a></li>

                            </ul>
                        </li>
                    <% } %>

                    <% if (user.roles.indexOf('awarder') !== -1) { %>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <%=nls.panel.awarder%>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" style="text-align: left">
                                <li><a href='#list/awarder/location/1'> <%=nls.panel.locations%> </a></li>
                                <li><a href='#my/awarder/channels/1'> <%=nls.panel.channels%> </a></li>
                                <li><a href='#un/awarder/unicode'> <%=nls.panel.unicodes%> </a></li>
                                <li><a href='#pt/awarder/paywayTemplate/1'> <%=nls.panel.paywayTempl%> </a></li>
                                <li><a href='#pm/awarder/payment'> <%=nls.panel.payments%> </a></li>
                                <li><a href='#lt/awarder/loyaltyTemplate/1'> <%=nls.modal.loyalty.loyaltyTempl%> </a></li>
                            </ul>
                        </li>
                    <% } %>
                            


                        <!--<li class="dropdown">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                                <!--<%=nls.panel.awarder%>-->
                                <!--<b class="caret"></b>-->
                            <!--</a>-->
                            <!--<ul class="dropdown-menu" style="text-align: left">-->
                                <!--<li><a href='#list/awarder/user/1'>users</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->

                    <% if (user.roles.indexOf('admin') !== -1) { %>
                           
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <%=nls.panel.admin%>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" style="text-align: left">
                                <!--<li><a href='#swagger/auth'>auth swagger</a></li>-->
                                <!--<li><a href='#swagger/api'>api swagger</a></li>-->
                                <li><a href='#list/admin/user/1'> <%=nls.panel.users%> </a></li>
                                <li><a href='#list/admin/issuer/1/unactive'> <%=nls.panel.issuers%> </a></li>
                                <li><a href='#list/admin/awarder/1/unactive'> <%=nls.panel.awarders%> </a></li>
                                <li><a href='#list/admin/product/1'> <%=nls.panel.products%> </a></li>
                                <li><a href='#list/admin/channel/1'> <%=nls.panel.channels%> </a></li>
                                <li><a href='#list/admin/offer/1'> <%=nls.panel.offers%> </a></li>
                                <li><a href='#list/admin/application/1'> <%=nls.panel.applications%> </a></li>
                                <li><a href='#list/admin/location/1'> <%=nls.panel.locations%> </a></li>
                                <li><a href='#list/admin/loyalty/1'> <%= nls.panel.loyalty %> </a></li>
                            </ul>
                        </li>
                    <% } %>

                </ul>
            </div>
            <div id="user-panel" class="nav-collapse pull-right">
                <ul class="nav">
                    <li rel="auth" id="auth-nav">
                        <% if (!user.login) { %>
                            <a href="#auth/main"> 
                        <% } else { %>
                            <a href="#auth/profile"> 
                        <% } %>
                        <i class="icon-signin"></i> <%= nls.auth.auth %> </a>
                    </li>
                    <% if (user.roles.length > 0) { %>
                        <li class="dropdown" id="auth-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i>
                                <span><%=name%></span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <!--<li> <a id="toPrefs" href="#prefs"> <i class="icon-cog"></i> <%= nls.prefs %> </a> </li>-->
                                <li> <a href="#logout"> <i class="icon-signout"></i> <%= nls.logout %> </a> </li>
                            </ul>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>

