<div style='text-align: center;'>
    <h3><%=nls.modal.payment.payment%></h3>
    <br />
</div>
<div id = "divAddPaymentAndReceipt"  style='border: 1px solid #bababa; border-radius: 5px; padding: 20px; box-shadow: 0 0 10px rgba(0,0,0,0.5); background-color: whiteSmoke;'>
    <div class="control-group form-horizontal">
        <label class="control-label" for="userId" ><%=nls.modal.payment.userId%></label>
        <div class="controls">
            <input type="text" name="userId" id="findUserById" value="">
        </div>
    </div>
    <legend>
        <%=nls.modal.payment.dataPayment%>
    </legend>
    <form id="formAddDataPayment" class="form-horizontal"> 
        <div class="control-group">
            <label class="control-label" for="transactionId"><%=nls.modal.payment.transactionId%></label>
            <div class="controls">
                <input  type="text" required name="transactionId" value="<%=entity.transactionId || ''%>">
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label" for="locationId"><%=nls.modal.payment.locationId%></label>
            <div class="controls">
                <!--<input  type="text" required name="locationId" value="<%=entity.locationId || ''%>">-->
                <select id = "locid" name="locationId">
                    <% for (var c in locationId) { %>
                        <option value = "<%=locationId[c].id%>" >name: <%=locationId[c].name%> </option>
                    <% } %>
                </select>

            </div>
        </div>
 
        <div class="control-group">
            <label class="control-label" for="name"><%=nls.modal.payment.name%></label>
            <div class="controls">
                <input  type="text" required name="name" value="<%=entity.name || ''%>">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="description"><%=nls.modal.payment.description%></label>
            <div class="controls">
                <input  type="text" name="description" value="<%=entity.description || ''%>">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="shortDesc"><%=nls.modal.payment.shortDesc%></label>
            <div class="controls">
                <input  type="text" name="shortDesc" value="<%=entity.shortDesc || ''%>">
            </div>
        </div>

        <!--<div class="control-group">-->
            <!--<label class="control-label" for="status"><%=nls.modal.payment.status%></label>-->
            <!--<div class="controls">-->
                <!--<input  type="text" name="status" value="<%=entity.status || ''%>">-->
            <!--</div>-->
        <!--</div>-->
        
        <div class="control-group">
            <label class="control-label" for="category"><%=nls.modal.payment.category%></label>
            <div class="controls">
                <select name="category">
                    <option value="store"><%=nls.modal.payment.store%> </option>
                    <option value="onlineStore"><%=nls.modal.payment.onlineStore%></option>
                    <option value="restaurants"><%=nls.modal.payment.restaurants%></option>
                    <option value="other"><%=nls.modal.payment.other%></option>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="url" ><%=nls.modal.payment.url%></label>
            <div class="controls">
                <input  type="text"  name="url" value="<%=entity.url || ''%>">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="totalAmount"><%=nls.modal.payment.totalAmount%></label>
            <div class="controls">
                <input  type="text" name="totalAmount" value="<%=entity.totalAmount || ''%>">
            </div>
        </div>


        <div class="control-group">
            <label class="control-label"><%=nls.modal.payment.currency%></label>
            <div class="controls">
                <label class="radio inline" for="euro">
                    <input type="radio" id="euro" name="currency" value="euro" checked<% if( entity.currency == "euro" ) { %> checked <% } %> > euro
                </label>

                <label class="radio inline" for="dollar">
                    <input id="giftCard" type="radio" name="currency" value="dollar" <% if( entity.currency == "dollar" ) { %> checked <% } %> > dollar
                </label>

                <label class="radio inline" for="pound">
                    <input id="creditCard" type="radio" name="currency" value="pound" <% if( entity.currency == "pound" ) { %> checked <% } %> > pound
                </label>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="signature"><%=nls.modal.payment.signature%></label>
            <div class="controls">
                <input  type="text" name="signature" value="<%=entity.signature || ''%>">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="redirectURL"><%=nls.modal.payment.redirectURL%></label>
            <div class="controls">
                <input type="text" name="redirectURL" value="<%=entity.redirectURL || ''%>">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="callBackURL"><%=nls.modal.payment.callBackURL%></label>
            <div class="controls">
                <input type="text" name="callBackURL" value="<%=entity.callBackURL || ''%>">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="acceptedPaywayIds"><%=nls.modal.payment.acceptedPaywayIds%></label>
            <div class="controls">
                <% for (var c in paywayTemplateId) { %>
                    <label class="checkbox inline">
                        <input id="acceptedPaywayIds" type="checkbox" name="acceptedPaywayIds"  value = "<%=paywayTemplateId[c].id%>" /><%=paywayTemplateId[c].id%>
                    </label>
                <% } %>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="loyalTempl"><%=nls.modal.payment.acceptedLoyaltyIds%></label>
            <div class="controls">
                <% for (var c in loyaltyTemplateId) { %>
                    <label class="checkbox inline">
                        <input id = "acceptedLoyaltyIds" type="checkbox" name="acceptedLoyaltyIds" value="<%=loyaltyTemplateId[c].id%>" /><%=loyaltyTemplateId[c].id%>
                    </label>
                <% } %>
            </div>       
        </div>
        <div class="control-group">
            <label class="control-label" for="clearingDT"><%=nls.modal.payment.clearingDT%></label>
            <div class="controls">
                <input type="text" name="clearingDT" value="<%=entity.clearingDT || ''%>">
            </div>
        </div>
        
    </form>
    <legend>
        <%=nls.modal.receipt.receipt%>
    </legend>
    <form id="formAddDataReceipt" class="form-horizontal">

        <div id="allRec" style='padding-bottom: 5px; width: 100%; margin: 0 auto;'>
            <div id="lineForOne" style='padding: 2px; display: inline-block;'>
                <div id="oneRec" style='border: 1px solid #bababa; padding: 5px; display: inline-block; cursor: pointer;'>
                    <%=nls.modal.receipt.newReceipt%>
                </div>
            </div>   
            <div id="lineForSecond" style='padding: 2px; display: inline-block;'>
                <div id="secondRec" style='border: 1px solid #bababa; padding: 5px; display: inline-block; cursor: pointer;'>
                    <%=nls.modal.receipt.findReceipt%>
                </div>
            </div>   
        </div>
        <div style = 'padding-top: 10px;'>
            <div id="newReceipt" class ='hide'>
                <div class="control-group">
                    <label class="control-label" for="thumbnail" ><%=nls.modal.payment.thumbnail%></label>
                    <div class="controls">
                        <input type="text"  name="thumbnail" value="">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="url" ><%=nls.modal.payment.url%></label>
                    <div class="controls">
                        <input type="text"  name="url" value="">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="returndays" ><%=nls.modal.receipt.returndays%></label>
                    <div class="controls">
                        <input type="text"  name="returndays" value="">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="conditions" ><%=nls.modal.receipt.conditions%></label>
                    <div class="controls">
                        <input type="text"  name="conditions" value="">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="cashier" ><%=nls.modal.receipt.cashier%></label>
                    <div class="controls">
                        <input type="text"  name="cashier" value="">
                    </div>
                </div>
            </div>
        </div>   
    </form>
    <form id="findReceiptById" class ='hide'>
        <div class="control-group form-horizontal">
            <label class="control-label" for="receiptId"><%=nls.modal.receipt.receiptId%></label>
            <div class="controls">
                <!--<input  type="text" required name="receiptId" value="<%=entity.receiptId || ''%>">-->
                <select id = "recid" name="receiptId">
                    <% for (var c in receiptId) { %>
                        <option value = "<%=receiptId[c].id%>" >name: <%=receiptId[c].name%> </option>
                    <% } %>
                </select>

            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button class="btn btn-primary save" id='savePayment' submit> <%=nls.save%> </button>
    </div>

</div>




