<div style='text-align: center;'>
    <table style='text-align: center; margin:auto'>
        <tr>
            <td style = "width:100px">  
                <h3><%=nls.my.news.header%></h3>
            </td>
        </tr>
        <tr>
            <td>
                <input class = "newDate"  type = "text"></input>
            </td>
            <td>
                <button style = 'margin-bottom:8px' id = "dataAccept" class = "btn btn-primary"> <%=nls.accept%> </button>
            </td>
        </tr>    
    </table>
</div>
<br>
<table class="table" align = "center">
    <thead>
        <th> <%=nls.modal.channelContent.content%> </th>
        <th> <%=nls.modal.channelContent.type%> </th>
        <th> <%=nls.modal.channelContent.date%> </th>
    </thead>
    <tbody>
        <% for (var c in channelContents) { %>
            <tr style="cursor: pointer" class="channelContentRow" channelId="<%=channelContents[c].channelId%>" _id=<%=channelContents[c].id || ''%> contentId=<%=channelContents[c].contentId%>>
                <td><%=channelContents[c].content || ''%></td>
                <td class="channelContent-type"><%=channelContents[c].contentType || ''%></td>
                <td><%=utils.date(channelContents[c].publishingDate)%></td>
            </tr>
        <% } %>
    </tbody>
    <tfoot>
    </tfoot>
</table>
<div class="el-modal"></div>

 <!--value = "<%=new Date()%> "-->
