<!--<div style ='border: 1px solid #bababa; border-radius: 5px; width: 50%; margin: 0 auto; height: 100px; padding: 50px; box-shadow: 0 0 10px rgba(0,0,0,0.5); background-color: whiteSmoke;'>-->
<legend> <%=nls.modal.unicode.unicode%></legend>
<div class="span7 well">

    <div class="row">
        <div class="span3"> <%=nls.modal.unicode.code%> : </div>
        <div class="span4"><%=unicode.code || ''%></div>
    </div>

    <div class="row">
        <div class="span3"> <%=nls.modal.unicode.userId%> : </div>
        <div class="span4"><%=unicode.userId || ''%></div>
    </div>

    <div class="row">
        <div class="span3"> <%=nls.modal.unicode.issuerId%> : </div>
        <div class="span4"><%=unicode.issuerId || ''%></div>
    </div>

    <!--<div class="row">-->
        <!--<div class="span3"> <%=nls.modal.unicode.type%> : </div>-->
        <!--<div class="span4"><%=unicode.type || ''%></div>-->
    <!--</div>-->

    <div class="row">
        <div class="span3"> <%=nls.modal.unicode.status%> : </div>
        <div class="span4"><%=unicode.status || ''%></div>
    </div>

    <div class="row">
        <div class="span3"> <%=nls.modal.unicode.dt%> : </div>
        <div class="span4"><%=unicode.dt || ''%></div>
    </div>

    <div class="row">
        <div class="span3"> <%=nls.modal.unicode.lm%> : </div>
        <div class="span4"><%=unicode.lm || ''%></div>
    </div>

    <div>
        <% if (unicode.status == 'available' ) { %>
            <button class="btn btn-primary" id="unicode-block" data-type="block" type="button"> <%=nls.modal.unicode.block%> </button>
        <% } %>
        <% if (unicode.status == 'blocked') { %>
            <button class="btn btn-primary" id="unicode-unblock" data-type="unblock" type="button"> <%=nls.modal.unicode.unblock%> </button>
        <% } %>
        <% if (unicode.status == 'blocked') { %>
            <button class="btn btn-primary" id="unicode-redeem" data-type="redeem" type="button"> <%=nls.modal.unicode.redeem%> </button
        <% } %>

    </div>            
</div>    

