<div>
    <h3><%=entity%>s</h3>
    <br />
</div>
<div>
    <form class="form-search">
        <input type="text" class="input-medium search-query" id="unicodeSearch">
        <button type="submit" class="btn btn-primary" id="takeUnicode" disabled='disabled'> <%=nls.modal.unicode.search%> </button>
    </form>
    <br />
</div>
<div id="result">
</div>
