<div style='text-align: center;'>
    <h3><%=entity%>s</h3>
    <div class="row">
        <div class="span2">
        <h4>Total unicodes generated</h4>        
        <input type="text" class="dial" id="totalGenerated">
        </div>
        <div class="span2">
        <h4>Total unicodes redeemed</h4>        
        <input type="text" class="dial" id="totalRedeemed">
        </div>
    </div>
    <br />
</div>
<div style='text-align: center;'>
    <button class="btn btn-small inline pag pag-left" pag=prev type="button"><i class="icon-arrow-left"></i></button>
    <span class="pageCur"><%=page%></span> of
    <span class="pageCount"><%=pageCount%></span>
    <button class="btn btn-small inline pag pag-right" pag=next type="button"><i class="icon-arrow-right"></i></button>
    <button class="btn btn-small btn-danger pull-right deleteAll" type="button"><i class="icon-remove"></i> <%=nls.modal.deleteAll%> </button>
</div>
<br>
<table class="table offerList">
    <thead>
        <!--<th>id</th>-->
        <th><%=nls.modal.name%></th>
        <th><%=nls.modal.channelContent.type%></th>
        <th><%=nls.modal.product.category%></th>
        <th><%=nls.modal.description%></th>
        <th><%=nls.modal.lastModification%></th>
        <% if (role == 'issuer') { %>
            <th>
                <button class="btn btn-mini btn-warning showModal" type="button"><i class="icon-plus-sign"></i> Create</button>
            </th>
        <% } else if (role == 'admin') {%>
            <th> </th>
        <% } %>
    </thead>
    <tbody>
        <% for (var e in entities) { %>
            <!--<tr style="cursor: pointer" class="open-row" _url="#offer/<%=entities[e].id%>" _id=<%=entities[e].id || ''%>>-->
                <td style="cursor: pointer" class="open-row" _url="#offer/<%=entities[e].id%>" _id=<%=entities[e].id || ''%>><%=entities[e].name || ''%></td>
                <td style="cursor: pointer" class="open-row" _url="#offer/<%=entities[e].id%>" _id=<%=entities[e].id || ''%>><%=entities[e].type || ''%></td>
                <td style="cursor: pointer" class="open-row" _url="#offer/<%=entities[e].id%>" _id=<%=entities[e].id || ''%>><%=entities[e].category || ''%></td>
                <td style="cursor: pointer" class="open-row" _url="#offer/<%=entities[e].id%>" _id=<%=entities[e].id || ''%>><%=entities[e].description || ''%></td>
                <td style="cursor: pointer" class="open-row" _url="#offer/<%=entities[e].id%>" _id=<%=entities[e].id || ''%>><%=utils.date(entities[e].lm) || ''%></td>
                <% if (role == 'issuer' || role == 'admin') { %>
                    <td>
                        <% if (role == 'issuer') { %>
                            <button _id=<%=entities[e].id%> class="btn btn-mini btn-success publish-modal-show" type="button" ><i class="icon-print"></i> Publish</button> 
                        <% } %>
                        <button _id=<%=entities[e].id%> class="btn btn-mini showModal" type="button" data-toggle="modal" ><i class="icon-pencil"></i></button> 
                        <button _id=<%=entities[e].id%> class="btn btn-mini delete" type="button"><i class="icon-remove"></i></button>
                    </td>
                <% } %>
            </tr>
        <% } %>
    </tbody>
    <tfoot>
    </tfoot>
</table>
<div class="el-modal"></div>
<div class="el-publish-modal"></div>
