<div class="modal modal-update hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form class="form-horizontal save-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"> <%=nls.modal.channelContent.offer%> </h3>
        </div>
        <div class="modal-body">

            <% if (entity.id) { %>
                <input type="hidden" name="id" value="<%=entity.id%>">
            <% } %>

            <div class="control-group">
                <label class="control-label"> <%=nls.modal.name%> </label>
                <div class="controls">
                    <input type="text" required name="name" value="<%=entity.name || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> <%=nls.modal.offer.ean%> </label>
                <div class="controls">
                    <input type="text" required name="ean" value="<%=entity.ean || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="type"> <%=nls.modal.channelContent.type%> </label>
                <div class="controls">
                    <label class="radio inline">
                        <input type="radio" name="type" id="type" value="coupon" <% if( entity.type == "coupon") { %> checked <% } %> >  <%=nls.modal.offer.coupon%> 
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="type" id="type" value="free" <% if( entity.type == "free" || !entity.type) { %> checked <% } %> > <%=nls.modal.offer.free%>
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="type" id="type" value="3x2" <% if( entity.type =="3x2") { %> checked <% } %> > <%=nls.modal.offer.num%>
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="type" id="type" value="%" <% if( entity.type == "%") { %> checked <% } %> > <%=nls.modal.offer.persent%>
                    </label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><%=nls.modal.product.category%></label>
                <div class="controls">
                    <label class="radio inline">
                        <input type="radio" name="category" value="electronics" <% if (entity.category == "electronics") { %> checked <% } %> > <%=nls.modal.product.electronics%>
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="category" value="restaurants" <% if (entity.category == "restaurants") { %> checked <% } %> > <%=nls.modal.product.restaurants%>
                    </label>
                    <label class="radio inline">
                        <input type="radio"  name="category" value="other" <% if( entity.category == "other"  || !entity.category) { %> checked <% } %> > <%=nls.modal.product.other%>
                    </label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> <%=nls.modal.channelContent.conditions%></label>
                <div class="controls">
                    <input type="text" required name="conditions" value="<%=entity.conditions || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> <%=nls.modal.description%> </label>
                <div class="controls">
                    <input type="text" name="description" value="<%=entity.description || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><%=nls.modal.shortDescription%></label>
                <div class="controls">
                    <input type="text" name="short_description" value="<%=entity.short_description || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><%=nls.modal.offer.logoUrl%></label>
                <div class="controls">
                    <input type="text" name="logo_url" value="<%=entity.logo_url || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><%=nls.modal.offer.thumbnail%></label>
                <div class="controls">
                    <input type="text" name="thumbnail" value="<%=entity.thumbnail || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><%=nls.modal.product.url%></label>
                <div class="controls">
                    <input type="text" name="url" value="<%=entity.url || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><%=nls.modal.channelContent.media%></label>
                <div class="controls">
                    <label class="radio inline">
                        <input type="radio" name="media" value="moobs" <% if( entity.media == "moobs" || !entity.media) { %> checked <% } %> > <%=nls.modal.offer.moobs%>
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="media" value="tv" <% if( entity.media == "tv") { %> checked <% } %> > <%=nls.modal.offer.tv%>
                    </label>
                    <label class="radio inline">
                        <input type="radio"  name="media" value="hub" <% if( entity.media == "hub") { %> checked <% } %> > <%=nls.modal.offer.hub%>
                    </label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><%=nls.modal.offer.unicode_count%></label>
                <div class="controls">
                    <input type="text" name="unicode_count" value="<%=entity.unicode_count || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><%=nls.modal.offer.validLocation%></label>
                <div class="controls">
                    <input type="text" name="valid_locations" value="<%=entity.valid_locations || ''%>">
                </div>
            </div>


            <div class="control-group">
                <label class="control-label"><%=nls.modal.offer.startDatetime%></label>
                <div class="controls">
                    <input type="text" name="start_datetime" value="<%=entity.start_datetime || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><%=nls.modal.offer.endDatetime%></label>
                <div class="controls">
                    <input type="text" name="end_datetime" value="<%=entity.end_datetime || ''%>">
                </div>
            </div>



        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"><%=nls.cancel%></button>
            <button class="btn btn-primary save"><%=nls.save%></button>
        </div>
    </form>
</div>



