<div style='text-align: center;'>
    <h3><%=entity%>s</h3>
    <br />
</div>
<div style='text-align: center;'>
    <button class="btn btn-small inline pag pag-left" pag=prev type="button"><i class="icon-arrow-left"></i></button>
    <span class="pageCur"><%=page%></span> of
    <span class="pageCount"><%=pageCount%></span>
    <button class="btn btn-small inline pag pag-right" pag=next type="button"><i class="icon-arrow-right"></i></button>
</div>
<br>
<table class="table userList">
    <thead> 
        <!--<th>id</th>-->
        <th> <%=nls.modal.loyalty.loyaltyTempl%> </th>
        <th> <%=nls.modal.loyalty.referenceId%> </th>
        <th> <%=nls.modal.loyalty.balance%> </th>
        <th> <%=nls.modal.loyalty.currency%> </th>
        <th> <%=nls.modal.loyalty.issuedDate%> </th>
        <th> <%=nls.modal.loyalty.expirationDate%> </th>
        <th> <%=nls.modal.loyalty.createData%> </th>
        <th>
            <button class="btn btn-mini btn-warning btn-create" type="button"><i class="icon-plus-sign"></i> <%=nls.create%> </button>
        </th>
    </thead>
    <tbody>
        <% console.log('Role is '+role) %>
        <% for (var e in entities) { %>
            <tr>              
                <td><%=entities[e].templateId || ''%></td>
                <td><%=entities[e].referenceId || ''%></td>
                <td><%=entities[e].balance || ''%></td>
                <td><%=entities[e].currency || ''%></td>
                <td><%=entities[e].issuedDate || ''%></td>
                <td><%=entities[e].expirationDate || ''%></td>
                <td><%=entities[e].cd || ''%></td>
                <% if ( role == 'user') { %>
                    <td>
                        <button _id=<%=entities[e].id%> class="btn btn-mini showModal" type="button" data-toggle="modal" ><i class="icon-pencil"></i></button> 
                        <button _id=<%=entities[e].id%> class="btn btn-mini delete" type="button"><i class="icon-remove"></i></button>
                    </td>
                <% } %>
            </tr>
        <% } %>
    </tbody>
    <tfoot>
    </tfoot>
</table>
<div class="el-modal"></div>
<div class="el-subscribes-modal"></div>

