<div class="modal modal-update hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form id="admin-userList-form" class="form-horizontal save-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"> <%=nls.panel.loyalty%> </h3>
        </div>
        <div class="modal-body">

            <% if (entity.id) { %>
                <input type="hidden" name="id" value="<%=entity.id%>">
            <% } %>

            <div class="control-group">
                <label class="control-label" for="templateId"> <%=nls.panel.paywayTempl%> </label>
                <div class="controls">
                    <select name="templateId">
                        <% for (var c in loyalTempl) { %>
                            <option value = "<%=loyalTempl[c].id%>" >name:<%=loyalTempl[c].name%>, des:<%=loyalTempl[c].description%>, category:<%=loyalTempl[c].category%> </option>
                        <% } %>
                    </select>
                </div>
            </div>
            <!--<div class="control-group">-->
                <!--<label class="control-label" for="templateId" > <%=nls.modal.loyalty.loyaltyTempl%></label>-->
                <!--<div class="controls">-->
                    <!--<input  type="text"  name="templateId" value="<%=entity.templateId || ''%>">-->
                <!--</div>-->
            <!--</div>-->
            <div class="control-group">
                <label class="control-label" for="referenceId" > <%=nls.modal.loyalty.referenceId%></label>
                <div class="controls">
                    <input  type="text"  name="referenceId" value="<%=entity.referenceId || ''%>">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="balance"> <%=nls.modal.loyalty.balance %> </label>
                <div class="controls">
                    <input id="balance" type="text" name="balance" value="<%=entity.balance || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><%=nls.modal.loyalty.currency%></label>
                <div class="controls">
                    <label class="radio inline" for="euro">
                        <input type="radio" id="euro" name="currency" value="euro" checked<% if( entity.currency == "euro" ) { %> checked <% } %> > euro
                    </label>

                    <label class="radio inline" for="dollar">
                        <input id="giftCard" type="radio" name="currency" value="dollar" <% if( entity.currency == "dollar" ) { %> checked <% } %> > dollar
                    </label>

                    <label class="radio inline" for="pound">
                        <input id="creditCard" type="radio" name="currency" value="pound" <% if( entity.currency == "pound" ) { %> checked <% } %> > pound
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="chain" > <%=nls.modal.loyalty.issuedDate%> </label>
                <div class="controls">
                    <input id ="issuedDate" type="text" required name="issuedDate" value="<%=entity.issuedDate || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="expirationDate" > <%=nls.modal.loyalty.expirationDate%></label>
                <div class="controls">
                    <input id="expirationDate" type="text" required name="expirationDate" value="<%=entity.expirationDate || ''%>">
                </div>
            </div>
        </div>
        <div class="modal-footer">

            <button class="btn" data-dismiss="modal" aria-hidden="true"> <%=nls.cancel%> </button>
            <button class="btn btn-primary save"> <%=nls.save%> </button>
        </div>
    </form>
</div>






