<div style='text-align: center;'>
    <h3><%=entity%>s</h3>
    <br />
</div>
<div style='text-align: center;'>
    <button class="btn btn-small inline pag pag-left" pag=prev type="button"><i class="icon-arrow-left"></i></button>
    <span class="pageCur"><%=page%></span> of
    <span class="pageCount"><%=pageCount%></span>
    <button class="btn btn-small inline pag pag-right" pag=next type="button"><i class="icon-arrow-right"></i></button>
    <button class="btn btn-small btn-danger pull-right deleteAll" type="button"><i class="icon-remove"></i> <%=nls.deleteAll%> </button>
</div>
<br>
<table class="table userList">
    <thead>
        <!--<th>id</th>-->
        <th> <%=nls.login%> </th>
        <th> <%=nls.modal.name%> </th>
        <th> <%=nls.modal.user.twitName%> </th>
        <th> <%=nls.email%> </th>
        <th> <%=nls.modal.user.roles%> </th>
        <th> <%=nls.modal.user.creationDate%> </th>
        <th>
            <% if (role == 'admin') { %>
            <button class="btn btn-mini btn-warning btn-create" type="button"><i class="icon-plus-sign"></i> <%=nls.create%> </button>
            <% } %>
        </th>
    </thead>
    <tbody>
        <% for (var e in entities) { %>
            <tr >
                <td><%=entities[e].login || ''%></td>
                <td><%=entities[e].name || ''%></td>
                <td><%=entities[e].twitterName || ''%></td>
                <td><%=entities[e].email || ''%></td>
                <td><%=entities[e].roles || ''%></td>
                <td><%=utils.date(entities[e].creationDate)%></td>
                <td>
                    <% if ( role == 'admin' ) { %>
                        <button _id=<%=entities[e].id%> class="btn btn-mini showModal" type="button" data-toggle="modal" ><i class="icon-pencil"></i></button> 
                        <button _id=<%=entities[e].id%> class="btn btn-mini delete" type="button"><i class="icon-remove"></i></button>
                    <% } %>
                    <% if ( role == 'issuer' ) { %>
                    <button _id=<%=entities[e].id%> class="btn btn-mini issuer-subscribes-show" type="button"><i class="icon-print"> <%=nls.modal.channelContent.subscribe%> </i></button>
                    <% } %>
                </td>
            </tr>
        <% } %>
    </tbody>
    <tfoot>
    </tfoot>
</table>
<div class="el-modal"></div>
<div class="el-subscribes-modal"></div>
