<div class="modal modal-update hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form id="admin-userList-form" class="form-horizontal save-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"> <%=nls.panel.user%> </h3>
        </div>
        <div class="modal-body">

            <% if (entity.id) { %>
                <input type="hidden" name="id" value="<%=entity.id%>">
            <% } %>

            <div class="control-group">
                <label class="control-label" for="login"> <%=nls.login%> </label>
                <div class="controls">
                    <input id="login" type="text" name="login" value="<%=entity.login || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="password" > <%=nls.passwd%> </label>
                <div class="controls">
                    <input id ="password" type="text" name="password" value="<%=entity.password || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="name" > <%=nls.modal.name%> </label>
                <div class="controls">
                    <input id="name" type="text" required name="name" value="<%=entity.name || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="twitterName"> <%=nls.modal.user.twitName%> </label>
                <div class="controls">
                    <input id="twitterName" type="text" name="twitterName" value="<%=entity.twitterName || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="email"> <%=nls.email%> </label>
                <div class="controls">
                    <input id="email" type="text" name="email" value="<%=entity.email || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> <%=nls.modal.user.roles%> </label>
                <div class="controls">

                    <label class="checkbox inline" for="guest">
                        <input id="guest" type="checkbox" name="roles" value="guest" disabled
                        <% if( entity.roles.indexOf("guest") != -1  || !entity.roles[0] ) { %> checked <% } %> >  <%=nls.modal.user.guest%> 
                    </label>
                    <label class="checkbox inline" for="user">
                        <input id="user" type="checkbox" name="roles" value="user"  
                        <% if( entity.roles.indexOf("user") != -1  || !entity.roles[0] ) { %> checked <% } else { %> disabled <% } %> >  <%=nls.modal.user.user%> 
                    </label>

                    <label class="checkbox inline" for="awarder">
                        <input id="awarder" type="checkbox"  name="roles" value="awarder"
                        <% if( entity.roles.indexOf("awarder") != -1 ) { %> checked <% } else { %> disabled <% } %> >  <%=nls.modal.user.awarder%> 
                    </label>

                    <label class="checkbox inline" for="issuer">
                        <input id="issuer" type="checkbox" name="roles" value="issuer"
                        <% if( entity.roles.indexOf("issuer") != -1 ) { %> checked <% } else { %> disabled <% } %> >  <%=nls.modal.user.issuer%> 
                    </label>

                    <label class="checkbox inline" for="admin">
                        <input id="admin" type="checkbox" name="roles" value="admin"
                        <% if( entity.roles.indexOf("admin") != -1 ) { %> checked <% } %> >  <%=nls.modal.user.admin%> 
                    </label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> <%=nls.modal.user.gender%> </label>
                <div class="controls">
                    <label class="radio" for="m">
                        <input type="radio" id="m" name="gen" value="m" <% if( entity.gen == "m" ) { %> checked <% } %> >  <%=nls.modal.user.male%> 
                    </label>

                    <label class="radio" for="f">
                        <input id="f" type="radio" name="gen" value="f" <% if( entity.gen == "f" ) { %> checked <% } %> >  <%=nls.modal.user.femail%> 
                    </label>

                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="birth"> <%=nls.modal.user.birth%> </label>
                <div class="controls">
                    <input id="birth" type="text" name="birth" value="<%=entity.birth || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="phone"> <%=nls.modal.user.phone%> </label>
                <div class="controls">
                    <input type="text" name="phone" id="phone" value="<%=entity.phone || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="address"> <%=nls.modal.user.address%> </label>
                <div class="controls">
                    <input type="text" name="address" id="address" value="<%=entity.address || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="zip"> <%=nls.modal.user.zip%> </label>
                <div class="controls">
                    <input type="text" name="zip" id="zip" value="<%=entity.zip || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">  <%=nls.modal.user.city%>  </label>
                <div class="controls" for="city">
                    <input type="text" name="city" id="city" value="<%=entity.city || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="country"> <%=nls.modal.user.country%> </label>
                <div class="controls">
                    <input type="text" name="country" id="country" value="<%=entity.country || ''%>">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn pull-left create-awarder" data-dismiss="modal" aria-hidden="true" userId="<%=entity.id%>" <% if( entity.roles.indexOf("awarder") != -1 ) { %> disabled <% } %> >
                 <%=nls.modal.user.creatAwarder%> 
            </button>

            <button class="btn pull-left create-issuer" data-dismiss="modal" aria-hidden="true" userId="<%=entity.id%>" <% if (entity.roles.indexOf("issuer") != -1) { %> disabled <% } %> >
                 <%=nls.modal.user.creatIssuer%> 
            </button>

            <button class="btn" data-dismiss="modal" aria-hidden="true"> <%=nls.cancel%> </button>
            <button class="btn btn-primary save"> <%=nls.save%> </button>
        </div>
    </form>
</div>



