<div class="subscribes-modal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form class="subscribes form-horizontal">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"> <%=nls.modal.publishProduct%> </h3>
        </div>
        <div class="modal-body">
            <input type="hidden" name="id" value="<%=id%>">
            <div class="control-group">
                <label class="control-label"> <%=nls.channels%> </label>
                <div class="controls">
                    <% for (var c in channels) { %>
                        <label class="checkbox inline">
                            <input type="checkbox" name="channels" value="<%=channels[c].id%>"> <%=channels[c].name%>
                        </label>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"> <%=nls.cancel%> </button>
            <button class="btn btn-primary subscribes-modal-accept"> <%=nls.modal.channelContent.subscribe%> </button>
        </div>

    </form>
</div>




