<div style='text-align: center;'>
    <h3><%=entity%>s</h3>
    <br />
</div>
<div style='text-align: center;'>
    <button class="btn btn-small inline pag pag-left" pag=prev type="button"><i class="icon-arrow-left"></i></button>
    <span class="pageCur"><%=page%></span> of
    <span class="pageCount"><%=pageCount%></span>
    <button class="btn btn-small inline pag pag-right" pag=next type="button"><i class="icon-arrow-right"></i></button>
    <!--<button class="btn btn-small btn-danger pull-right deleteAll" type="button"><i class="icon-remove"></i> Delete all</button>-->
</div>
<br>
<table class="table userList">
    <thead>
        <!--<th>id</th>-->
        <th> <%=nls.modal.payway.holderName%> </th>
        <th> <%=nls.modal.payway.issuedDate%> </th>
        <th> <%=nls.modal.payway.expirationDate%> </th>
        <th> <%=nls.modal.payway.balance%> </th>
        <th> <%=nls.modal.payway.currency%> </th>
        <th> <%=nls.modal.payway.createData%> </th>
        <th> <%=nls.modal.payway.payTempl%> </th>
        <th> <%=nls.modal.payway.payTemplName%> </th>
        <th>
            <button class="btn btn-mini btn-warning btn-create" type="button"><i class="icon-plus-sign"></i> <%=nls.create%> </button>
        </th>
    </thead>
    <tbody>
        <% console.log('Role is '+role) %>
        <% for (var e in entities) { %>
        <!--<tr style="cursor: pointer" class="open-row" _url="#location/<%=entities[e].id%>" _id=<%=entities[e].id || ''%> >               -->
                <td><%=entities[e].holderName || ''%></td>
                <td><%=entities[e].issuedDate || ''%></td>
                <td><%=entities[e].expirationDate || ''%></td>
                <td><%=entities[e].balance || ''%></td>
                <td><%=entities[e].currency || ''%></td>
                <td><%=entities[e].cd || ''%></td>
                <td><%=entities[e].templateId || ''%></td>
                <%for (var k in templateId){
                if (templateId[k].id == entities[e].templateId) {%>
                <td> <%=templateId[k].name %> </td> <%}%>
                <%}%>
                


                <% if ( role == 'user') { %>
                    <td>
                        <button _id=<%=entities[e].id%> class="btn btn-mini showModal" type="button" data-toggle="modal" ><i class="icon-pencil"></i></button> 
                        <button _id=<%=entities[e].id%> class="btn btn-mini delete" type="button"><i class="icon-remove"></i></button>
                    </td>
                <% } %>
            </tr>
        <% } %>
    </tbody>
    <tfoot>
    </tfoot>
</table>
<div class="el-modal"></div>
<div class="el-subscribes-modal"></div>
