<div class="modal modal-update hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form id="admin-userList-form" class="form-horizontal save-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"> <%=nls.panel.payway%> </h3>
        </div>
        <div class="modal-body">

            <% if (entity.id) { %>
                <input type="hidden" name="id" value="<%=entity.id%>">
            <% } %>

            <div class="control-group">
                <label class="control-label" for="name"> <%=nls.modal.payway.holderName%> </label>
                <div class="controls">
                    <input id="holderName" type="text" required name="holderName" value="<%=entity.holderName || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="chain" > <%=nls.modal.payway.issuedDate%> </label>
                <div class="controls">
                    <input id ="issuedDate" type="text" required name="issuedDate" value="<%=entity.issuedDate || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="expirationDate" > <%=nls.modal.payway.expirationDate%></label>
                <div class="controls">
                    <input id="expirationDate" type="text" required name="expirationDate" value="<%=entity.expirationDate || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="balance"> <%=nls.modal.payway.balance %> </label>
                <div class="controls">
                    <input id="balance" type="text" name="balance" value="<%=entity.balance || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="currency"> <%=nls.modal.payway.currency%> </label>
                <div class="controls">
                    <input id="currency" type="text" name="currency" value="<%=entity.currency || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="templateId"> <%=nls.panel.paywayTempl%> </label>
                <div class="controls">
                    <select id = "paywayTempl" name="templateId">
                        <% for (var c in templateId) { %>
                            <option value = "<%=templateId[c].id%>" >name:<%=templateId[c].name%>, des:<%=templateId[c].description%>, type:<%=templateId[c].type%> </option>
                        <% } %>
                    </select>
                </div>
            </div>

        </div>
        <div class="modal-footer">

            <button class="btn" data-dismiss="modal" aria-hidden="true"> <%=nls.cancel%> </button>
            <button class="btn btn-primary save"> <%=nls.save%> </button>
        </div>
    </form>
</div>





