<div class="modal modal-update hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form id="admin-issuerList-form" class="form-horizontal save-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"> <%=nls.panel.user%> </h3>
        </div>
        <div class="modal-body">

            <% if (entity.id) { %>
                <input type="hidden" name="id" value="<%=entity.id%>">
            <% } %>

            <div class="control-group">
                <label class="control-label"><%=nls.issuerForm.name%></label>
                <div class="controls">
                    <input type="text" required class="input-large" name="name" value="<%=entity.name || ''%>">
                    <div class="alert alert-error error-message hide margin4-v"></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> <%=nls.redirect%> </label>
                <div class="controls">
                    <input type="text" required class="input-large" name="redirect" value="<%=entity.redirect || ''%>">
                    <div class="alert alert-error error-message hide margin4-v"></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><%=nls.issuerForm.active%></label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="active" value="true" <% if( entity.active ) { %> checked <% } %> > <%=nls.issuerForm.active%> 
                    </label>

                    <label class="radio">
                        <input type="radio" name="active" value="false" <% if( !entity.active ) { %> checked <% } %> > <%=nls.issuerForm.notActive%> 
                    </label>

                </div>

        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"> <%=nls.cancel%> </button>
            <button class="btn btn-primary save"> <%=nls.save%> </button>
        </div>
    </form>
</div>



