<div class="modal modal-update hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form id="admin-userList-form" class="form-horizontal save-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"> <%=nls.panel.locations%> </h3>
        </div>
        <div class="modal-body">

            <% if (entity.id) { %>
                <input type="hidden" name="id" value="<%=entity.id%>">
            <% } %>

            <div class="control-group">
                <label class="control-label" for="name"> <%=nls.modal.name%> </label>
                <div class="controls">
                    <input id="name" type="text" name="name" value="<%=entity.name || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="chain" > <%=nls.modal.location.chain%> </label>
                <div class="controls">
                    <input id ="chain" type="text" name="chain" value="<%=entity.chain || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><%=nls.modal.location.gender.gender%></label>
                <div class="controls">
                    <label class="radio" for="HUBBT">
                        <input type="radio" id="HUBBT" name="checkInMedia" value="HUBBT" <% if( entity.checkInMedia == "HUBBT" ) { %> checked <% } %> > <%=nls.modal.location.gender.hubbt%>
                    </label>

                    <label class="radio" for="HUBWIFI">
                        <input id="HUBWIFI" type="radio" name="checkInMedia" value="HUBWIFI" <% if( entity.checkInMedia == "HUBWIFI" ) { %> checked <% } %> > <%=nls.modal.location.gender.hubwifi%>
                    </label>

                    <label class="radio" for="HUBNFC">
                        <input id="HUBNFC" type="radio" name="checkInMedia" value="HUBNFC" <% if( entity.checkInMedia == "HUBNFC" ) { %> checked <% } %> > <%=nls.modal.location.gender.hubnfs%>
                    </label>

                    <label class="radio" for="QR">
                        <input id="QR" type="radio" name="checkInMedia" value="QR" <% if( entity.checkInMedia == "QR" ) { %> checked <% } %> > <%=nls.modal.location.gender.qr%>
                    </label>

                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="moobAddress" > <%=nls.modal.location.moobAddress%> </label>
                <div class="controls">
                    <input id="moobAddress" type="text" required name="moobAddress" value="<%=entity.moobAddress || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="shortDescription"><%=nls.modal.location.shortDescription%></label>
                <div class="controls">
                    <input id="shortDescription" type="text" name="shortDescription" value="<%=entity.shortDescription || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="description"> <%=nls.modal.location.description%> </label>
                <div class="controls">
                    <input id="description" type="text" name="description" value="<%=entity.description || ''%>">
                </div>
            </div>

            
            <div class="control-group">
                <label class="control-label" for="phoneNumber"> <%=nls.modal.location.phone%> </label>
                <div class="controls">
                    <input id="phoneNumber" type="text" name="phoneNumber" value="<%=entity.phoneNumber || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="openingHours"> <%=nls.modal.location.openigHour%> </label>
                <div class="controls">
                    <input type="text" name="openingHours" id="openingHours" value="<%=entity.openingHours || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="address"> <%=nls.modal.location.address%> </label>
                <div class="controls">
                    <input type="text" name="address" id="address" value="<%=entity.address || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="zip"> <%=nls.modal.location.postalCode%> </label>
                <div class="controls">
                    <input type="text" name="postalCode" id="zip" value="<%=entity.postalCode || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> <%=nls.modal.location.city%> </label>
                <div class="controls" for="city">
                    <input type="text" name="city" id="city" value="<%=entity.city || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="country"> <%=nls.modal.location.country%> </label>
                <div class="controls">
                    <input type="text" name="country" id="country" value="<%=entity.country || ''%>">
                </div>
            </div>
        </div>
        <div class="modal-footer">

            <button class="btn" data-dismiss="modal" aria-hidden="true"> <%=nls.cancel%> </button>
            <button class="btn btn-primary save"> <%=nls.save%> </button>
        </div>
    </form>
</div>




