<div class="modal modal-update hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form id="admin-channelList-form" class="form-horizontal  save-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel"><%=nls.modal.channelHead%></h3>
        </div>
        <div class="modal-body">

            <% if (entity.id) { %>
                <input type="hidden" name="id" value="<%=entity.id%>">
            <% } %>

            <div class="control-group">
                <label class="control-label"><%=nls.modal.name%></label>
                <div class="controls">
                    <input type="text" required name="name" value="<%=entity.name || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><%=nls.modal.description%></label>
                <div class="controls">
                    <input type="text" name="desc" value="<%=entity.desc || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"><%=nls.modal.thumbnail%></label>
                <div class="controls">
                    <input type="text" name="thumbnail" value="<%=entity.thumbnail || ''%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label"> <%=nls.modal.product.public%> </label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="public" value=true <% if( entity.public == true ) { %> checked <% } %> > <%=nls.modal.product.yes%>
                    </label>

                    <label class="radio">
                        <input type="radio" name="public" value=false <% if( entity.public == false || !entity.public) { %> checked <% } %> > <%=nls.modal.product.no%>
                    </label>

                </div>
            </div>


        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true"> <%=nls.cancel%> </button>
            <button class="btn btn-primary save"> <%=nls.save%> </button>
        </div>
        </form>
</div>
