@import "bootstrap/bootstrap.less";

/*html {*/
    /*height: 100%;*/
/*}*/

/*body {*/
	/*padding: 60px 0 0;*/
	/*overflow-y: scroll;*/
    /*&.embeded {*/
        /*padding: 0;*/
        /*height: 100%;*/
        /*#container {*/
            /*margin: 0;*/
        /*}*/
    /*}*/
/*}*/

.appModule {
    margin-top: 60px;    
}

.hidden {
    display: none;
}

.loading-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #777;
    opacity: 0.8;
    z-index: 999;
}
.loading-text {
    margin: auto;
    margin-top: 200px;
    width: 300px;
}
/*@import "bootstrap/responsive.less";*/
